<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- Best to use SAS rather than storage account keys. -->
        <!-- Replace storageacctname and accountkey  -->
        <add name="StorageConnectionString"
            connectionString="DefaultEndpointsProtocol=https;AccountName=storageacctname;AccountKey=accountkey" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>